<div class="container">
    <p>This is the about page. In here, you may implement the *ngFor directive, once applied the app checker will mark it complete. You may also implement here both class and property binding. The total points of this assessment is 70. 62 points based from the assessment checker and 8 points based on the final output design. Just make sure you read the instructions!</p>
    <div class="row mb-2">
        <div *ngFor="let item of conferences" class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis">{{ item.category }}</strong>
              <h3 class="mb-0">{{ item.title }}</h3>
              <div class="mb-1 text-body-secondary">{{ item.date }}</div>
              <p class="card-text mb-auto">{{ item.description }}</p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img [src]="item.pic" alt="" width="200" height="250">
            </div>
          </div>
        </div>
      </div>
</div>
